.characters-container {
  width: var(--ihc-basic-width);
  display: var(--ihc-basic-display);
  flex-direction: var(--ihc-basic-direction-col);
}
.container {
  display: var(--ihc-basic-display);
  flex-direction: var(--ihc-basic-direction-col);
  align-items: var(--ihc-basic-align);
  justify-content: var(--ihc-basic-JContent-center);
  gap: var(--ihc-basic-gap);
  background-color: var(--ihc-primary-text-color);
  min-height: var(--ihc-min-height-card-xl);
  position: relative;
  background-color: var(--ihc-card-BG-color-basic);
  transition: transform 0.5s;
  width: 100%;
  border-radius: var(--ihc-basic-border-radius);
  box-shadow: var(--ihc-basic-shadow);
}
.container > .namelabel {
  height: 0px;
  position: absolute;
  background-color: rgb(108, 104, 104, 0.327);
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--ihc-basic-border-radius);
  transition: all 0.5s;
  width: 100%;
}
.container:hover {
  /* transform: scale(1.1) rotate(1deg); */
  outline: 5px solid rgba(117, 203, 42, 0.327);
}
.container:hover > .namelabel {
  height: var(--ihc-min-height-card-l);
}
.container > img {
  width: var(--ihc-basic-half-width);
}
.row {
  display: var(--ihc-basic-display-sec);
  grid-template-columns: var(--ihc-basic-grid-template-column);
  gap: var(--ihc-basic-gap);
  margin: var(--ihc-basic-margin);
}

.container > img {
  border-radius: var(--ihc-border-radius-round);
}
.container > h4,
.container > p {
  text-align: var(--ihc-basic-align);
}
@media (max-width: 740px) {
  .container > h4,
  .container > p {
    font-size: 12px;
  }
  .container {
    min-height: var(--ihc-min-height-card-l);
  }
}
@media (max-width: 680px) {
  .container {
    min-height: var(--ihc-min-height-card-m);
  }
}
@media (max-width: 530px) {
  .container > h4,
  .container > p {
    font-size: 10px;
  }
  .container {
    min-height: 122px;
  }
}
@media (max-width: 430px) {
  .container > h4,
  .container > p {
    font-size: 9px;
  }
}
