.container {
  border: var(--ihc-basic-border);
  border-radius: var(--ihc-basic-border-radius);
  box-shadow: var(--ihc-basic-shadow);
  padding: var(--ihc-basic-margin);
}
.episode-link {
  font-size: 10px;
}
